body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

p {
    font-size: 20px;
}

img.myphotos {
    max-width: 530px;
    height: auto;
    border-radius: 1%;
}

a.redirect, a.logo {
    color: #ffffff;
    text-decoration: none;
}

a.redirect:hover {
    color: #3557a2;
}

a.sociallink {
    color: #ffffff;
    text-decoration: none;
}

#container {
    display: flex;
    flex-flow: row wrap;
}

#header {
    width: 100%;
    margin: 20px;
}

#name {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#timer {
    float: right;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin: 10px;
    text-align: right;
}

.navbar {
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #3095d3;
}

.navbar ul {
    padding: 0;
}

.navbar ul li {
    display:inline-block;
    padding: 13px;
    border-right: dashed 2px;
}

#maincontent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#photos {
    margin: 20px;
    border: solid 4px;
    border-color: #666666;
    border-radius: 2%;
}

#content {
    margin: 20px;
    padding: 15px;
    width: 530px;
    height: auto;

    background-color: #666666;
    border-radius: 3%;
}

#copyright {
    width: 100%;
    text-align: center;
}

#socials {
    width: 70%;
    font-size: 100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sociallink {
    width: 105px;
    height: 142px;
    padding: 15px;
}

.sociallink:hover {
    cursor: pointer;
}

#fb {
    background-color: #4668b3;
    border-radius: 10%;
}

#fb:hover {
    background-color: #3557a2;
}

#github {
    background-color: #c9510c;
    border-radius: 10%;
}

#github:hover {
    background-color: #c9440b;
}

#linkedin {
    background-color: #0077B5;
    border-radius: 10%;
}

#linkedin:hover {
    background-color: #005ab5;
}

#youtube {
    background-color: #d94348;
    border-radius: 10%;
}

#youtube:hover {
    background-color: #c83237;
}

#copyright {
    margin: 30px;
    margin-bottom: 0px;
    width: 100%;
    border-top: solid 2px white;
}